.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inactive {
  color: turquoise;
  text-decoration: none;
}

.active {
  color: red;
  text-decoration: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  border-radius: 8px;
  width: 100px;
}

.button-link {
  background-color: transparent;
  border: none;
  width: 20%;
  opacity: 0.8;
}

.background {
  height: 100vh;
  width: 100%;
}

.textarea {
  min-width: 100%;
  border-radius: 8px;
}

.table {
  border: transparent;
  vertical-align: top;
  table-layout: fixed;
}

.button-group-vertical button {
  display: block;
  cursor: pointer;
  outline: none;
  position: relative;
}

.button-group-vertical button:focus {
  outline: none;
}

.editor-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 80%;
}

.tool-group {
  position: relative;
  top: 10px;
  left: 10px;
  height: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  margin-bottom: 0;
  width: 10vh;
}

.editor-group {
  position: relative;
  top: 10px;
  height: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
  width: 40%;
}

.pdf-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
