:root {
    --maincolor-dark: darkslategrey;
    --subcolor-dark: floralwhite;
}

.lds-dual-ring.dark:after {
    border: 6px solid var(--subcolor-dark);
    border-color: var(--subcolor-dark) transparent var(--subcolor-dark) transparent;
}

.button.dark{
    background-color: var(--maincolor-dark);
    color: var(--subcolor-dark);
    border: 2px solid var(--subcolor-dark);
    opacity: 0.8;
}

.button.dark:hover {
    opacity: 1;
}

.button-link.dark {
    color: deepskyblue;
}

.background.dark {
    background-color: var(--maincolor-dark);
    color: var(--subcolor-dark);
}

.textarea.dark {
    background: var(--maincolor-dark);
    color: var(--subcolor-dark);
    border: 2px solid var(--subcolor-dark);
}