:root {
    --maincolor-dark: darkslategrey;
    --subcolor-dark: floralwhite;
}

.lds-dual-ring.dark {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring.dark:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--subcolor-dark);
    border-color: var(--subcolor-dark) transparent var(--subcolor-dark) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button.dark{
    background-color: var(--maincolor-dark);
    color: var(--subcolor-dark);
    border: 2px solid var(--subcolor-dark);
    border-radius: 8px;
    width: 30%;
    opacity: 0.8;
}

.button.dark:hover {
    opacity: 1;
}

.button-link.dark {
    background-color: transparent;
    color: deepskyblue;
    border: none;
    width: 20%;
    opacity: 0.8;
}

.background.dark {
    background-color: var(--maincolor-dark);
    color: var(--subcolor-dark);
    height: 100vh;
    width: 100%;
}

.textarea.dark {
    background: var(--maincolor-dark);
    color: var(--subcolor-dark);
    width: 80%;
    border-radius: 8px;
    border: 2px solid var(--subcolor-dark);
}