:root {
    --maincolor-light: white;
    --subcolor-light: black;
}

.lds-dual-ring.light:after {
    border: 6px solid var(--subcolor-light);
    border-color: var(--subcolor-light) transparent var(--subcolor-light) transparent;
}

.button.light {
    background-color: var(--maincolor-light);
    color: var(--subcolor-light);
    border: 2px solid var(--subcolor-light);
}

.button.light:hover {
    background-color: lightgrey;
}

.button-link.light {
    color: blue;
}

.background.light {
    background-color: var(--maincolor-light);
    color: var(--subcolor-light);
}

.textarea.light {
    background: var(--maincolor-light);
    color: var(--subcolor-light);
    border: 2px solid var(--subcolor-light);
}