:root {
    --maincolor-light: white;
    --subcolor-light: black;
}

.lds-dual-ring.light {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring.light:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--subcolor-light);
    border-color: var(--subcolor-light) transparent var(--subcolor-light) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button.light {
    background-color: var(--maincolor-light);
    color: var(--subcolor-light);
    border: 2px solid var(--subcolor-light);
    border-radius: 8px;
    width: 30%;
}

.button.light:hover {
    background-color: lightgrey;
}

.button-link.light {
    background-color: transparent;
    color: blue;
    border: none;
    border-radius: 8px;
    width: 20%;
}

.background.light {
    background-color: var(--maincolor-light);
    color: var(--subcolor-light);
    height: 100vh;
    width: 100%;
}

.textarea.light {
    background: var(--maincolor-light);
    color: var(--subcolor-light);
    width: 80%;
    border-radius: 8px;
    border: 2px solid var(--subcolor-light);
}